<div class="page-header">
  <h3>Payment #<%= @payment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Payee</dt>
      <dd><%= @payment.payee_id %></dd>

      <dt>Amount</dt>
      <dd><%= @payment.amount %></dd>

      <dt>Payer</dt>
      <dd><%= @payment.payer_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/payments" class="btn btn-primary">
        Back
      </a>
      <a href="/payments/<%= @payment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_payment/<%= @payment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
